<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="CONSOLE_PATTERN">
            %d{HH:mm:ss.SSS} [%t] %-5level %c{1.}.%M() [rid=%X{requestId}] - %msg%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONSOLE_PATTERN}"/>
        </Console>
        <!-- JSON output activated by setting sys prop: -Dlog4j2.appender=JsonConsole -->
        <Console name="JsonConsole" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:EcsLayout.json">
                <EventTemplateAdditionalField key="requestId" value="${ctx:requestId}"/>
            </JsonTemplateLayout>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="${sys:log4j2.appender:-Console}"/>
        </Root>
        <!-- Noise suppression -->
        <Logger name="io.netty" level="warn"/>
        <Logger name="org.h2" level="error"/>
        <Logger name="org.pragmatica.consensus" level="info"/>
        <Logger name="org.pragmatica.aether.http.AppHttpServer" level="info"/>
        <Logger name="org.pragmatica.aether.metrics" level="info"/>
        <Logger name="org.pragmatica.aether.deployment.node" level="info"/>
    </Loggers>
</Configuration>
